{% extends 'base.html' %} 

{% block title %} Login User {% endblock %} 


{% block content %}  

    <h1 class = 'text-center'> Login </h1>

    <form class = 'text-center' id = 'login_user' action = '' method = 'POST'>

        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

            <p> {{ field.label }} {{ field }} </p>

        {% endfor %}
        <button type = 'submit'> Login </button>
    </form>

    <h4 class = 'text-center'> Don't have an account? <a href = '/signup'> Signup </a> </h4>

{% endblock %}