{% extends 'base.html' %} 

{% block title %} {{ data.title }} {% endblock %}

{% block content %} 

<form action = '/favorites?favorited_page={{ favorited_page }}' method = 'POST'>
      {{ form.hidden_tag() }}
  
      <h1 class = 'display-3 text-center'> {{ data.title }} <button class = 'btn btn-outline-dark text-info text-center btn-lg' type = 'submit'> Add to Favorites </button> </h1>

      {% for field in form if field.widget.input_type != 'hidden' %} 

      <p class = 'fs-5 text-danger text-center'> 
          {% for error in field.errors %} 
              {{ error }}
          {% endfor %}
      </p>

      <div class = 'ml-4 col-6'>
          <p class = 'fs-3 text-end'> {{ field.label }} </p>
      </div>
      <div class = 'col-6'>
          <p class = 'fs-3 text-start'> {{ field }} </p>
      </div>

      {% endfor %}
  </form>

      <p id = 'wiki-page' class = 'fs-5'> {{ html }} </p>
   

{% endblock %}
